* {
 box-sizing: border-box;
}

body {
 background-color: #3700ff29;
 font-family: sans-serif;
 overflow-x: hidden;
 -webkit-font-smoothing: auto;
 bottom: auto;
 height: 100%;
 right: auto;
 width: auto;
 overflow-y: scroll;
 overflow: visible;
 text-size-adjust: 100%;
}

                        /*header*/
.header {
 position: fixed;
 top: 0;
 left: 0;
 height: 80px;
 width: 100%;
 background-color: rgba(3, 3, 3, 0.594);
 text-align: center;
}
.home .homeicon {
 height:60px;
 width: 60px;
 border-radius: 50%;
 background-color: #c0f1feda;
 float: left;
 margin-left: 5%;
 margin-top: 10px;
}
.home .homeicon:hover {
 box-shadow: 2px 10px 15px #888888;
}

.header1 {
 float: left;
 margin-left: 18%;
 margin-top: 3px;
 color: rgb(224, 233, 240);
}
.notification .noticon {
 height: 60px;
 width: 60px;
 border-radius: 50%;
 background-color: #c0f1feda;
 float: right;
 margin-right: 5%;
 margin-top: 10px;
}
.notification .noticon:hover {
 box-shadow: 2px 10px 15px #888888;
}

.mainbody {
 background-color: rgb(255, 255, 255);
 margin-top: 10px;
}

                          /* services  */

.services {
 background-color: rgba(222, 246, 255, 0.805);
 float: left;
 height: 230px;
 width: 40%;
 border-radius: 20px;
 margin-left: 7%;
 margin-top: 90px;
}
.services:hover {
 box-shadow: 2px 13px 50px 5px #888888;
}
.textserv {
 margin-left: 20px;
}
.textp {
 margin-left: 20px;
 font-size: 20px;
}
.recharge {
 height: 50px;
 border-radius: 10px;
 background-color: rgb(0, 0, 0); 
 color: aliceblue;
 margin-top: 10%;
 width: 80%;
 margin-left: 10%;
 cursor: pointer;
}
.recharge:hover {
 box-shadow: 2px 10px 15px #888888;
}
.textrecharge {
 text-align: center;
 padding-top: 15px;
}

                          /*   money   */

.money {
 background-color: rgb(216, 246, 254);
 height: 230px;
 width: 40%;
 float: left;
 border-radius: 20px;
 margin-left: 6%;
 margin-top: 25%;
}

@media (min-width: 360px) {
  .money {
    top: 25%;
  }
}

.money:hover {
 box-shadow: 2px 13px 50px 5px #888888;
}
.textmoney {
 margin-left: 20px;
}
.textb {
 margin-left: 20px;
 font-size: 20px;
}
.getwallet {
 height: 50px;
 border-radius: 10px;
 background-color: rgb(0, 0, 0); 
 color: aliceblue;
 margin-top: 5%;
 width: 80%;
 margin-left: 10%;
 cursor: pointer;
}
.getwallet:hover {
 box-shadow: 2px 10px 15px #888888;
}
.textgetwallet {
 text-align: center;
 padding-top: 5%;
}

  
                              /*
                              shortcuts
                              */


.shortcuts {
 background-color: #d4f0f8;
 float: left;
 width: 85%;
 margin-top: 20px;
 margin-left: 7%;
 border-radius: 20px;
 align-items: center;
 height: 170px;
}
.shortcuts:hover {
  box-shadow: -2px 12px 12px #888888;

}
.textshort {
 margin-left: 20px;
}
.recharges .sync {
 height: 50px;
 width: 50px;
 border-radius: 50%;
 background-color: #0400ff27;
 float: left;
 margin-left: 5%;
 cursor: pointer;
}
.recharges .sync:hover {
 box-shadow: 2px 10px 15px #888888;
}


.cupon .tag{
 height: 50px;
 width: 50px;
 border-radius: 50%;
 background-color: #0400ff27;
 float: left;
 margin-left: 8%;
 cursor: pointer;
}
@media only screen and (min-width: 469px) {
  .cupon .tag {
    margin-left: 20%;
  }
}
.cupon .tag:hover {
 box-shadow: 2px 10px 15px #888888;
}

.addserv .add {
 height: 50px;
 width: 50px;
 border-radius: 50%;
 background-color: #0400ff27;
 float: left;
 margin-left: 8%;
 cursor: pointer;
}
@media only screen and (min-width: 490px) {
  .addserv .add {
    margin-left: 20%;
  }
}
.addserv .add:hover {
 box-shadow: 2px 10px 15px #888888;
}

.more .chevron {
 height: 50px;
 width: 50px;
 border-radius: 50%;
 background-color: #0400ff27;
 float: right;
 margin-right: 5%;
 cursor: pointer;
}

.more .chevron:hover{
 box-shadow: 2px 10px 15px #888888;
}
                      /* shortcutstext*/
.shortext {
 float: left;
 width: 100%;
 margin-top: 5px;
 border-radius: 20px;
 align-items: center;
 height: 30px;
}
.textt1 {
 float: left;
 margin-left: 5%;
 margin-top: 7px;
 font-size: 13px;
}
.textt2 {
 float: left;
 margin-left: 7%;
 margin-top: 7px;
 font-size: 13px;
 text-align: center;
 align-items: center;
}
@media only screen and (min-width: 469px) {
  .textt2  {
    margin-left: 20%;
  }
}
.textt3 {
 float: left;
 margin-left: 9%;
 margin-top: 7px;
 font-size: 13px;
 text-align: center;
 align-items: center;
}
@media only screen and (min-width: 490px) {
  .textt3 {
    margin-left: 20%;
  }
}
.textt4 {
 float: right;
 margin-right: 7%;
 margin-top: 7px;
 font-size: 13px;
}

                            /* buynewservices*/

.buynewservices {

 background: linear-gradient(217deg, rgba(255, 0, 76, 0.812), rgba(255,0,0,0) 70.71%),
 linear-gradient(127deg, rgba(0, 255, 234, 0.8), rgba(0,255,0,0) 70.71%),
 linear-gradient(336deg, rgba(98, 0, 255, 0.8), rgba(0,0,255,0) 70.71%); float: left;
 height: 300px;
 width: 85%;
 margin-top: 20px;
 margin-left: 7%;
 border-radius: 20px;
 align-items: center;
}
.buynewservices:hover {
  box-shadow: -2px 12px 17px 2px #888888;
}
.newtext {
 margin-left: 20px;
}

/*APPLE*/

.apple .same {
height: 50px;
 width: 50px;
 border-radius: 50%;
 background-color: #0400ff27;
 float: left;
 margin-left: 7%;
 cursor: pointer;
}
.apple .same:hover {
 box-shadow: 2px 10px 15px #888888;

}
.wifi .same {
height: 50px;
 width: 50px;
 border-radius: 50%;
 background-color: #0400ff27;
 float: left;
 margin-left: 19%;
 cursor: pointer;
}
@media only screen and (min-width: 415px) {
  .wifi .same {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #0400ff27;
    float: left;
    margin-left: 34%;
  }
}
.wifi .same:hover {
 box-shadow: 2px 10px 15px #888888;

}
.card .same {
 height: 50px;
 width: 50px;
 border-radius: 50%;
 background-color: #0400ff27;
 float: right;
 margin-right: 7%;
 cursor: pointer;
}
.card .same:hover{
 box-shadow: 2px 10px 15px #888888;

}


/*APPLETEXT*/

.appleb {
 float: left;
 width: 100%;
 margin-top: 5px;
 border-radius: 20px;
 align-items: center;
 height: 30px;
}
.appleblack {
 float: left;
 margin-left: 5%;
 margin-top: 7px;
 font-size: 13px;
}
.applefiber {
 float: left;
 margin-left: 20%;
 margin-top: 7px;
 font-size: 13px;
}
@media only screen and (min-width: 415px) {
  .applefiber {
    float: left;
    margin-left: 35.3%;
    margin-top: 7px;
    font-size: 13px;
  }
}
.appleprepaid {
 float: right;
 margin-right: 8%;
 margin-top: 7px;
 font-size: 13px;
}


/*DTH*/

.dth .tv {
 height: 50px;
 width: 50px;
 border-radius: 50%;
 background-color: #0400ff27;
 float: left;
 margin-left: 7%;
 margin-top: 25px;
 cursor: pointer;
}
.dth .tv:hover {
 box-shadow: 2px 10px 15px #888888;
}
.medicine .aidkit {
 height: 50px;
 width: 50px;
 border-radius: 50%;
 background-color: #0400ff27;
 float: left;
 margin-left: 19%;
 margin-top: 25px;
 cursor: pointer;
}
@media only screen and (min-width: 415px) {
  .medicine .aidkit {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #0400ff27;
    float: left;
    margin-left: 34%;
    margin-top: 25px;
  }
}
.medicine .aidkit:hover {
 box-shadow: 2px 10px 15px #888888;
}
.playstore .playstore1 {
 height: 50px;
 width: 50px;
 border-radius: 50%;
 background-color: #0400ff27;
 float: right;
 margin-right: 7%;
 margin-top: 25px;
 cursor: pointer;
}
.playstore .playstore1:hover {
 box-shadow: 2px 10px 15px #888888;
}

/* DTHTEXT*/

.dthtv {
 float: left;
 width: 100%;
 margin-top: 5px;
 border-radius: 20px;
 align-items: center;
 height: 30px;
}
.tvdth {
 float: left;
 margin-left: 10%;
 margin-top: 7px;
 font-size: 13px;
}
.dthaid {
 float: left;
 margin-left: 24%;
 margin-top: 7px;
 font-size: 13px;
}
@media only screen and (min-width: 415px) {
  .dthaid {
    float: left;
    margin-left: 35%;
    margin-top: 7px;
    font-size: 13px;
  }
}
.dthstore{
 float: right;
 margin-right: 5%;
 margin-top: 7px;
 font-size: 13px;
}


                                  /*wynkmusic banner*/

.wynkpic {
 background-color: #d4f0f8;
 float: left;
 height: 230px;
 width: 85%;
 margin-top: 20px;
 margin-left: 7%;
 border-radius: 20px;
 color: rgb(252, 212, 254);
 position: relative;
}
.wynkpic:hover {
  box-shadow: -2px 12px  18px 2px #888888;
}
.wynkimage {
 width: 100%;
 height: 230px;
 border-radius: 20px;
}
.texttop {
 position: absolute;
 bottom: 150px;
 left: 7%;
 font-size: 17px;
}
@media only screen and (max-width: 440px) {
  .texttop {
    bottom: 80px;
  }
}
.logo .musiclogo {
 height: 30px;
 width: 30px;
 background-color: #d4f0f8;
 border-radius: 20px;
}

.wynklogo {
 position: absolute;
 bottom: 170px;
 right: 20px;
 font-size: 18px;
 color: #d4f0f8;
 align-items: center;
 text-align: center;
}
.subscribe {
 background-color: aliceblue;
 color: rgb(0, 0, 0);
 font-weight: bolder;
 width: 160px;
 border-radius: 5px;
 text-align: center;
 bottom: 20px;
 left: 20px;
 position: absolute;
 padding-top: 1px;
 cursor: pointer;
}
.subscribe:hover {
 background-color: #00000055;
 color: azure;
}

                                /*curated for you*/



.curated {
 background: linear-gradient(217deg, rgba(0, 255, 98, 0.8), rgba(255,0,0,0) 40.71%),
 linear-gradient(127deg, rgb(255, 255, 255), rgba(0,255,0,0) 50.71%),
 linear-gradient(280deg, rgb(132, 0, 255), rgba(0,0,255,0) 90.71%);
 float: left;
 height: 400px;
 width: 85%;
 border-radius: 20px;
 margin-left: 7%;
 margin-top: 30px;
}

.textcurated {
 margin-left: 20px;
}

.sendmoney {
 background: linear-gradient(217deg, rgb(0, 255, 132), rgba(0, 255, 119, 0) 90.71%),
            linear-gradient(422deg, rgba(106, 0, 255, 0.916), rgba(0,255,0,0) 30.71%),
            linear-gradient(450deg, rgba(255, 13, 199, 0.78), rgba(242, 0, 255, 0.998) 50.71%);
 float: left;
 height: 230px;
 width: 40%;
 border-radius: 20px;
 margin-left: 7%;
 margin-top: 10px;
 align-items: center;
}
.sendmoney:hover {
  box-shadow: 0px 15px  45px 2px #474545;
}
.sendimage .imagesend {
 height: 100px;
 border-radius: 50px;
 margin-left: 9%;
 margin-top: 8px;
 align-items: center;
 box-shadow: 0px 15px  45px 2px #000000a2;

}


.textsendmoney {
 align-items: center;
 font-size: 17px;
 color: aliceblue;
 text-align: center;

}
.h61 {
 align-items: center;
 text-align: center;
 color: rgba(255, 255, 255, 0.873);
}
.sendnow {
 background-color: rgb(12, 11, 11);
 color: aliceblue;
 margin-top: 215px;
 position: absolute;
 margin-left: 10%;
 align-items: center;
 border-radius: 5px;
 cursor: pointer;
}
.sendnow:hover {
 background-color: #ffffff;
 color: black;
 font-weight: bolder;
}

.spinnow {
 background-color: rgb(12, 11, 11);
 color: aliceblue;
 margin-top: 215px;
 position: absolute;
 margin-left: 50%;
 align-items: center;
 border-radius: 5px;
 cursor: pointer;
}
.spinnow:hover {
 background-color: #ffffff;
 color: black;
 font-weight: bolder;
}

                     /*
                     golden
                     */

.golden {
 float: left;
 height: 230px;
 width: 85%;
 margin-top: 20px;
 margin-left: 7%;
 border-radius: 20px;
 position: relative;
}
.hero {
 width: 100%;
 height: 130px;
 border-radius: 20px;
}
.savings {
 position: absolute;
 top: 19%;
 left: 25%;
 color: white;
}


/*navbar*/


.navbar {
 background: linear-gradient(217deg, rgba(0, 255, 132, 0.544), rgba(173, 133, 230, 0.807) 90.71%);
 float: left;
 bottom: 0;
 height: 50px;
 left: 0;
 right: 0;
 width: 100%;
 position: fixed;
}
.navbar:hover {
 background: linear-gradient(217deg, rgba(253, 255, 254, 0.814), rgba(233, 225, 249, 0.807) 90.71%);
}
.share .exit {
 height: 40px;
 width: 40px;
 border-radius: 50%;
 background-color: #0400ff27;
 float: left;
 margin-left: 5%;
 margin-top: 6px;
}
.share .exit:hover {
 cursor: pointer;
 box-shadow: -3px 13px 25px 5px #4b4a4a;
}
.pen .edit {
 height: 40px;
 width: 40px;
 border-radius: 50%;
 background-color: #0400ff27;
 float: left;
 margin-left: 9%;
 margin-top: 6px;
}
@media only screen and (min-width: 465px) {
  .pen .edit {
    margin-left: 18%;

  }
}
.pen .edit:hover {
 cursor: pointer;
 box-shadow: -3px 13px 25px 5px #4a4747;
}
.trash .delete {
 height: 40px;
 width: 40px;
 border-radius: 50%;
 background-color: #0400ff27;
 float: left;
 margin-left: 9%;
 margin-top: 6px;
}
@media only screen and (min-width: 465px) {
  .trash .delete {
    margin-left: 15%;

  }
}
.trash .delete:hover {
 cursor: pointer;
 box-shadow: -3px 13px 25px 5px #4a4949;
}

.code .codepatern {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #0400ff27;
  float: left;
  margin-left: 9%;
  margin-top: 6px;
 }
 @media only screen and (min-width: 465px) {
   .code .codepatern {
     margin-left: 15%;
   }
 }
 .code .codepatern:hover {
   cursor: pointer;
  box-shadow: -3px 13px 25px 5px #4b4b4b;
 }

.dot .more {
 height: 40px;
 width: 40px;
 border-radius: 50%;
 background-color: #0400ff27;
 float: right;
 margin-right: 5%;
 margin-top: 6px;
}
.dot .more:hover {
 cursor: pointer;
 box-shadow: -3px 13px 25px 5px #4a4646;
}
